In [3]:
import numpy as np
import pandas as pd
from imblearn.metrics import geometric_mean_score
from sklearn.metrics import roc_auc_score

In [ ]:
names = list(map(str,range(55)))
data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/covtype/covtype.data.gz",names=names)
data.head()

In [3]:
data[54].value_counts()

2    283301
1    211840
3     35754
7     20510
6     17367
5      9493
4      2747
Name: 54, dtype: int64

In [4]:
data = pd.concat([data[data[54]==3],data[data[54]==4]],ignore_index=True)
data[54]= np.where(data[54]==3,0,1)
data['class'] = data[54]
data.drop([54],axis=1,inplace=True)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,class
0,2553,235,17,351,95,780,188,253,199,1410,...,0,0,0,0,0,0,0,0,0,0
1,2011,344,17,313,29,404,183,211,164,300,...,0,0,0,0,0,0,0,0,0,0
2,2022,24,13,391,42,509,212,212,134,421,...,0,0,0,0,0,0,0,0,0,0
3,2038,50,17,408,71,474,226,200,102,283,...,0,0,0,0,0,0,0,0,0,0
4,2018,341,27,351,34,390,152,188,168,190,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# import module
from sklearn.preprocessing import MinMaxScaler
# scale features
scaler = MinMaxScaler()
model=scaler.fit(data)
Impute_data=model.transform(data)

# print scaled features
data = pd.DataFrame(Impute_data,columns = data.columns)
data.head()

/Applications/Utilities/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/Applications/Utilities/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,class
0,0.667308,0.652778,0.34,0.483471,0.513453,0.227008,0.682692,0.993789,0.792829,0.488227,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.146154,0.955556,0.34,0.431129,0.365471,0.117579,0.658654,0.732919,0.653386,0.103878,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.156731,0.066667,0.26,0.538567,0.394619,0.148137,0.798077,0.739130,0.533865,0.145776,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.172115,0.138889,0.34,0.561983,0.459641,0.137951,0.865385,0.664596,0.406375,0.097992,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.152885,0.947222,0.54,0.483471,0.376682,0.113504,0.509615,0.590062,0.669323,0.065789,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### DATA RESAMPLING

### GENERATING TEST DATA

In [6]:
X = data.drop(['class'],axis=1)
y = data["class"]

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.15,random_state=42)

In [8]:
print(sum(y_train==1)
,sum(y_train==0)
,sum(y_test==1)
,sum(y_test==0)
     )

2356 30369 391 5385

In [9]:
(sum(y_train==1)+sum(y_test==1))/(sum(y_train==0)+sum(y_test==0))

0.07683056441237344

In [10]:
x_test.to_csv("forestcover_test_data.csv",index=False)
y_test.to_csv("forestcover_test_label.csv",index=False)

### GENERATING EXT_IMB DATASET(05:95)

In [11]:
from collections import Counter
from sklearn.datasets import make_classification
from imblearn.over_sampling import SMOTE 
from imblearn.under_sampling import RandomUnderSampler

In [12]:
X, y = x_train,y_train
print('Original dataset shape %s' % Counter(y))

Original dataset shape Counter({0.0: 30369, 1.0: 2356})

In [13]:
no_minority, no_majority = (Counter(y)[1]+Counter(y)[0])*0.05,(Counter(y)[1]+Counter(y)[0])*0.95
ada = SMOTE(random_state=42,sampling_strategy={1:Counter(y)[1],0:round(no_majority)})
X_res, y_res = ada.fit_resample(X, y)
print('Resampled dataset shape After oversampling minority class %s' % Counter(y_res))
rnd = RandomUnderSampler(random_state=42,sampling_strategy={1:round(no_minority),0:Counter(y_res)[0]})
X_final, y_final = rnd.fit_resample(X_res, y_res)
print('Resampled dataset shape with 5:95 ratio%s' % Counter(y_final))

/Applications/Utilities/anaconda3/lib/python3.8/site-packages/imblearn/utils/_validation.py:318: UserWarning: After over-sampling, the number of samples (31089) in class 0 will be larger than the number of samples in the majority class (class #0.0 -> 30369)
  warnings.warn(

Resampled dataset shape After oversampling minority class Counter({0.0: 31089, 1.0: 2356})
Resampled dataset shape with 5:95 ratioCounter({0.0: 31089, 1.0: 1636})

In [14]:
X_final.to_csv("forestcover_ext_imb_data.csv",index=False)
y_final.to_csv("forestcover_ext_imb_label.csv",index=False)

### GENERATING 15285_IMB DATASET(15:85)

In [15]:
X, y = x_train,y_train
print('Original dataset shape %s' % Counter(y))

Original dataset shape Counter({0.0: 30369, 1.0: 2356})

In [16]:
no_minority, no_majority = (Counter(y)[1]+Counter(y)[0])*0.15,(Counter(y)[1]+Counter(y)[0])*0.85
ada = SMOTE(random_state=42,sampling_strategy={0:Counter(y)[0],1:round(no_minority)})
X_res, y_res = ada.fit_resample(X, y)
print('Resampled dataset shape After oversampling minority class %s' % Counter(y_res))
rnd = RandomUnderSampler(random_state=42,sampling_strategy={0:round(no_majority),1:Counter(y_res)[1]})
X_final, y_final = rnd.fit_resample(X_res, y_res)
print('Resampled dataset shape with 15:85 ratio%s' % Counter(y_final))

Resampled dataset shape After oversampling minority class Counter({0.0: 30369, 1.0: 4909})
Resampled dataset shape with 15:85 ratioCounter({0.0: 27816, 1.0: 4909})

In [17]:
X_final.to_csv("forestcover_15285_imb_data.csv",index=False)
y_final.to_csv("forestcover_15285_imb_label.csv",index=False)

### GENERATING MOD_IMB DATASET(30:70)

In [18]:
X, y = x_train,y_train
print('Original dataset shape %s' % Counter(y))

Original dataset shape Counter({0.0: 30369, 1.0: 2356})

In [19]:
no_minority, no_majority = (Counter(y)[1]+Counter(y)[0])*0.3,(Counter(y)[1]+Counter(y)[0])*0.7
ada = SMOTE(random_state=42,sampling_strategy={0:Counter(y)[0],1:round(no_minority)})
X_res, y_res = ada.fit_resample(X, y)
print('Resampled dataset shape After oversampling minority class %s' % Counter(y_res))
rnd = RandomUnderSampler(random_state=42,sampling_strategy={0:round(no_majority),1:Counter(y_res)[1]})
X_final, y_final = rnd.fit_resample(X_res, y_res)
print('Resampled dataset shape with 30:70 ratio%s' % Counter(y_final))

Resampled dataset shape After oversampling minority class Counter({0.0: 30369, 1.0: 9818})
Resampled dataset shape with 30:70 ratioCounter({0.0: 22908, 1.0: 9818})

In [20]:
X_final.to_csv("forestcover_mod_imb_data.csv",index=False)
y_final.to_csv("forestcover_mod_imb_label.csv",index=False)

### GENERATING NO_IMB DATASET(50:50)

In [21]:
X, y = x_train,y_train
print('Original dataset shape %s' % Counter(y))

Original dataset shape Counter({0.0: 30369, 1.0: 2356})

In [22]:
ada = SMOTE(random_state=42)
X_res, y_res = ada.fit_resample(X, y)
print('Resampled dataset shape with 50:50 %s' % Counter(y_res))

Resampled dataset shape with 50:50 Counter({1.0: 30369, 0.0: 30369})

In [23]:
X_res.to_csv("forestcover_no_imb_data.csv",index=False)
y_res.to_csv("forestcover_no_imb_label.csv",index=False)