In [1]:
import scipy.io.arff as arff 
import pandas as pd
import numpy as np

In [2]:
data = arff.loadarff("/Users/saitejatangudu/Downloads/phenome.arff")
data = pd.DataFrame(data[0])
data.head()

         V1        V2        V3        V4        V5 Class
0  0.489927 -0.451528 -1.047990 -0.598693 -0.020418  b'1'
1 -0.641265  0.109245  0.292130 -0.916804  0.240223  b'1'
2  0.870593 -0.459862  0.578159  0.806634  0.835248  b'1'
3 -0.628439 -0.316284  1.934295 -1.427099 -0.136583  b'1'
4 -0.596399  0.015938  2.043206 -1.688448 -0.948127  b'1'

In [3]:
data["class"] = np.where(data["Class"]==b'1',0,1)
data.drop(["Class"],axis=1,inplace=True)
data.head()

         V1        V2        V3        V4        V5  class
0  0.489927 -0.451528 -1.047990 -0.598693 -0.020418      0
1 -0.641265  0.109245  0.292130 -0.916804  0.240223      0
2  0.870593 -0.459862  0.578159  0.806634  0.835248      0
3 -0.628439 -0.316284  1.934295 -1.427099 -0.136583      0
4 -0.596399  0.015938  2.043206 -1.688448 -0.948127      0

In [4]:
data.isna().sum()

V1       0
V2       0
V3       0
V4       0
V5       0
class    0
dtype: int64

In [5]:
# import module
from sklearn.preprocessing import MinMaxScaler
# scale features
scaler = MinMaxScaler()
model=scaler.fit(data)
Impute_data=model.transform(data)

# print scaled features
data = pd.DataFrame(Impute_data,columns = data.columns)
data.head()

         V1        V2        V3        V4        V5  class
0  0.506286  0.385946  0.322087  0.341025  0.337504    0.0
1  0.339008  0.469601  0.569034  0.283524  0.374984    0.0
2  0.562579  0.384703  0.621742  0.595047  0.460548    0.0
3  0.340904  0.406122  0.871641  0.191285  0.320799    0.0
4  0.345642  0.455681  0.891710  0.144044  0.204100    0.0

### DATA RESAMPLING

### GENERATING TEST DATA

In [6]:
X = data.drop(['class'],axis=1)
y = data["class"]

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.15,random_state=42)

In [8]:
print(sum(y_train==1)
,sum(y_train==0)
,sum(y_test==1)
,sum(y_test==0)
     )

1366 3227 220 591

In [9]:
(sum(y_train==1)+sum(y_test==1))/(sum(y_train==0)+sum(y_test==0))

0.4154007333682556

In [10]:
x_test.to_csv("phenome_test_data.csv",index=False)
y_test.to_csv("phenome_test_label.csv",index=False)

In [11]:
x_train.to_csv("phenome_train_data.csv",index=False)
y_train.to_csv("phenome_train_label.csv",index=False)

### GENERATING EXT_IMB DATASET(05:95)

In [11]:
from collections import Counter
from sklearn.datasets import make_classification
from imblearn.over_sampling import ADASYN 
from imblearn.under_sampling import RandomUnderSampler

In [12]:
X, y = x_train,y_train
print('Original dataset shape %s' % Counter(y))

Original dataset shape Counter({0.0: 3227, 1.0: 1366})

In [13]:
no_minority, no_majority = (Counter(y)[1]+Counter(y)[0])*0.05,(Counter(y)[1]+Counter(y)[0])*0.95
ada = ADASYN(random_state=42,sampling_strategy={1:Counter(y)[1],0:round(no_majority)})
X_res, y_res = ada.fit_resample(X, y)
print('Resampled dataset shape After oversampling minority class %s' % Counter(y_res))
rnd = RandomUnderSampler(random_state=42,sampling_strategy={1:round(no_minority),0:Counter(y_res)[0]})
X_final, y_final = rnd.fit_resample(X_res, y_res)
print('Resampled dataset shape with 5:95 ratio%s' % Counter(y_final))

Resampled dataset shape After oversampling minority class Counter({0.0: 4418, 1.0: 1366})
Resampled dataset shape with 5:95 ratioCounter({0.0: 4418, 1.0: 230})

/Applications/Utilities/anaconda3/lib/python3.8/site-packages/imblearn/utils/_validation.py:318: UserWarning: After over-sampling, the number of samples (4363) in class 0 will be larger than the number of samples in the majority class (class #0.0 -> 3227)
  warnings.warn(

In [14]:
X_final.to_csv("phenome_ext_imb_data.csv",index=False)
y_final.to_csv("phenome_ext_imb_label.csv",index=False)

### GENERATING 15285_IMB DATASET(15:85)

In [15]:
X, y = x_train,y_train
print('Original dataset shape %s' % Counter(y))

Original dataset shape Counter({0.0: 3227, 1.0: 1366})

In [16]:
no_minority, no_majority = (Counter(y)[1]+Counter(y)[0])*0.15,(Counter(y)[1]+Counter(y)[0])*0.85
ada = ADASYN(random_state=42,sampling_strategy={1:Counter(y)[1],0:round(no_majority)})
X_res, y_res = ada.fit_resample(X, y)
print('Resampled dataset shape After oversampling minority class %s' % Counter(y_res))
rnd = RandomUnderSampler(random_state=42,sampling_strategy={1:round(no_minority),0:Counter(y_res)[0]})
X_final, y_final = rnd.fit_resample(X_res, y_res)
print('Resampled dataset shape with 15:85 ratio%s' % Counter(y_final))

/Applications/Utilities/anaconda3/lib/python3.8/site-packages/imblearn/utils/_validation.py:318: UserWarning: After over-sampling, the number of samples (3904) in class 0 will be larger than the number of samples in the majority class (class #0.0 -> 3227)
  warnings.warn(

Resampled dataset shape After oversampling minority class Counter({0.0: 3791, 1.0: 1366})
Resampled dataset shape with 15:85 ratioCounter({0.0: 3791, 1.0: 689})

In [17]:
X_final.to_csv("phenome_15285_imb_data.csv",index=False)
y_final.to_csv("phenome_15285_imb_label.csv",index=False)

### GENERATING MOD_IMB DATASET(30:70)

In [18]:
X, y = x_train,y_train
print('Original dataset shape %s' % Counter(y))

Original dataset shape Counter({0.0: 3227, 1.0: 1366})

In [19]:
no_minority, no_majority = (Counter(y)[1]+Counter(y)[0])*0.30,(Counter(y)[1]+Counter(y)[0])*0.70
rnd = RandomUnderSampler(random_state=42,sampling_strategy={0:round(no_majority),1:Counter(y)[1]})
X_final, y_final = rnd.fit_resample(X, y)
print('Resampled dataset shape with 5:95 ratio%s' % Counter(y_final))

Resampled dataset shape with 5:95 ratioCounter({0.0: 3215, 1.0: 1366})

In [20]:
X_final.to_csv("phenome_mod_imb_data.csv",index=False)
y_final.to_csv("phenome_mod_imb_label.csv",index=False)

### GENERATING NO_IMB DATASET(50:50)

In [21]:
X, y = x_train,y_train
print('Original dataset shape %s' % Counter(y))

Original dataset shape Counter({0.0: 3227, 1.0: 1366})

In [22]:
ada = ADASYN(random_state=42)
X_res, y_res = ada.fit_resample(X, y)
print('Resampled dataset shape with 50:50 %s' % Counter(y_res))

Resampled dataset shape with 50:50 Counter({1.0: 3308, 0.0: 3227})

In [23]:
X_res.to_csv("phenome_no_imb_data.csv",index=False)
y_res.to_csv("phenome_no_imb_label.csv",index=False)