In [1]:
import numpy as np
import pandas as pd

In [2]:
names = range(0,35)

In [3]:
data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/ionosphere/ionosphere.data",names=names)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,g
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,b
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,g
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,b
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,g

In [4]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
count,351.000000,351.0,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,...,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000
mean,0.891738,0.0,0.641342,0.044372,0.601068,0.115889,0.550095,0.119360,0.511848,0.181345,...,0.396135,-0.071187,0.541641,-0.069538,0.378445,-0.027907,0.352514,-0.003794,0.349364,0.014480
std,0.311155,0.0,0.497708,0.441435,0.519862,0.460810,0.492654,0.520750,0.507066,0.483851,...,0.578451,0.508495,0.516205,0.550025,0.575886,0.507974,0.571483,0.513574,0.522663,0.468337
min,0.000000,0.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,1.000000,0.0,0.472135,-0.064735,0.412660,-0.024795,0.211310,-0.054840,0.087110,-0.048075,...,0.000000,-0.332390,0.286435,-0.443165,0.000000,-0.236885,0.000000,-0.242595,0.000000,-0.165350
50%,1.000000,0.0,0.871110,0.016310,0.809200,0.022800,0.728730,0.014710,0.684210,0.018290,...,0.553890,-0.015050,0.708240,-0.017690,0.496640,0.000000,0.442770,0.000000,0.409560,0.000000
75%,1.000000,0.0,1.000000,0.194185,1.000000,0.334655,0.969240,0.445675,0.953240,0.534195,...,0.905240,0.156765,0.999945,0.153535,0.883465,0.154075,0.857620,0.200120,0.813765,0.171660
max,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
from sklearn.preprocessing import StandardScaler
train_data = data.drop([34],axis=1)
train_label = data[34]
scaler = StandardScaler()
model=scaler.fit(train_data)
Impute_data=model.transform(train_data)

# print scaled features
print(Impute_data)

[[ 0.34843328  0.          0.71237237 ... -1.05505394 -0.3122206
  -0.99959483]
 [ 0.34843328  0.          0.72164805 ... -0.11521328 -0.93260505
  -0.08328554]
 [ 0.34843328  0.          0.72164805 ... -0.46409249  0.40444328
  -0.84859079]
 ...
 [ 0.34843328  0.          0.61502805 ...  0.01601615  1.10669878
  -0.04330004]
 [ 0.34843328  0.          0.53267371 ... -0.06586087  1.00526528
  -0.37828012]
 [ 0.34843328  0.          0.41400137 ... -0.12281796  0.9738619
  -0.16248675]]

In [6]:
from collections import Counter
Counter(np.array(train_label))

Counter({'g': 225, 'b': 126})

In [7]:
train_label = np.where(train_label=='g',0,1)

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(train_data,train_label,test_size=0.15,random_state=42)

In [9]:
print(sum(y_train==1)
,sum(y_train==0)
,sum(y_test==1)
,sum(y_test==0)
     )

104 194 22 31

In [10]:
(sum(y_train==1)+sum(y_test==1))/(sum(y_train==0)+sum(y_test==0))

0.56

In [11]:
pd.DataFrame(x_test).to_csv("ionosphere_test_data.csv",index=False)
pd.DataFrame(y_test).to_csv("ionosphere_test_label.csv",index=False)

### GENERATING EXT_IMB DATASET(05:95)

In [12]:
from collections import Counter
from sklearn.datasets import make_classification
from imblearn.over_sampling import SMOTE 
from imblearn.under_sampling import RandomUnderSampler

In [13]:
X, y = x_train,y_train
print('Original dataset shape %s' % Counter(y))

Original dataset shape Counter({0: 194, 1: 104})

In [14]:
no_minority, no_majority = (Counter(y)[1]+Counter(y)[0])*0.05,(Counter(y)[1]+Counter(y)[0])*0.95
ada = SMOTE(random_state=42,sampling_strategy={1:Counter(y)[1],0:round(no_majority)})
X_res, y_res = ada.fit_resample(X, y)
print('Resampled dataset shape After oversampling majority class %s' % Counter(y_res))

rnd = RandomUnderSampler(random_state=42,sampling_strategy={1:round(no_minority),0:Counter(y_res)[0]})
X_final, y_final = rnd.fit_resample(X_res, y_res)
print('Resampled dataset shape with 05:95 ratio%s' % Counter(y_final))

/Applications/Utilities/anaconda3/lib/python3.8/site-packages/imblearn/utils/_validation.py:318: UserWarning: After over-sampling, the number of samples (283) in class 0 will be larger than the number of samples in the majority class (class #0 -> 194)
  warnings.warn(

Resampled dataset shape After oversampling majority class Counter({0: 283, 1: 104})
Resampled dataset shape with 05:95 ratioCounter({0: 283, 1: 15})

In [15]:
pd.DataFrame(X_final).to_csv("ionosphere_ext_imb_data.csv",index=False)
pd.DataFrame(y_final).to_csv("ionosphere_ext_imb_label.csv",index=False)

### GENERATING 15285 DATASET(15:85)

In [16]:
X, y = x_train,y_train
print('Original dataset shape %s' % Counter(y))

Original dataset shape Counter({0: 194, 1: 104})

In [17]:
no_minority, no_majority = (Counter(y)[1]+Counter(y)[0])*0.15,(Counter(y)[1]+Counter(y)[0])*0.85
ada = SMOTE(random_state=42,sampling_strategy={1:Counter(y)[1],0:round(no_majority)})
X_res, y_res = ada.fit_resample(X, y)
print('Resampled dataset shape After oversampling majority class %s' % Counter(y_res))

rnd = RandomUnderSampler(random_state=42,sampling_strategy={1:round(no_minority),0:Counter(y_res)[0]})
X_final, y_final = rnd.fit_resample(X_res, y_res)
print('Resampled dataset shape with 15:85 ratio%s' % Counter(y_final))

Resampled dataset shape After oversampling majority class Counter({0: 253, 1: 104})
Resampled dataset shape with 15:85 ratioCounter({0: 253, 1: 45})

/Applications/Utilities/anaconda3/lib/python3.8/site-packages/imblearn/utils/_validation.py:318: UserWarning: After over-sampling, the number of samples (253) in class 0 will be larger than the number of samples in the majority class (class #0 -> 194)
  warnings.warn(

In [18]:
pd.DataFrame(X_final).to_csv("ionosphere_15285_imb_data.csv",index=False)
pd.DataFrame(y_final).to_csv("ionosphere_15285_imb_label.csv",index=False)

### GENERATING EXT_IMB DATASET(30:70)

In [19]:
X, y = x_train,y_train
print('Original dataset shape %s' % Counter(y))

Original dataset shape Counter({0: 194, 1: 104})

In [20]:
no_minority, no_majority = (Counter(y)[1]+Counter(y)[0])*0.3,(Counter(y)[1]+Counter(y)[0])*0.7
ada = SMOTE(random_state=42,sampling_strategy={1:Counter(y)[1],0:round(no_majority)})
X_res, y_res = ada.fit_resample(X, y)
print('Resampled dataset shape After oversampling majority class %s' % Counter(y_res))

rnd = RandomUnderSampler(random_state=42,sampling_strategy={1:round(no_minority),0:Counter(y_res)[0]})
X_final, y_final = rnd.fit_resample(X_res, y_res)
print('Resampled dataset shape with 30:70 ratio%s' % Counter(y_final))

Resampled dataset shape After oversampling majority class Counter({0: 209, 1: 104})
Resampled dataset shape with 30:70 ratioCounter({0: 209, 1: 89})

/Applications/Utilities/anaconda3/lib/python3.8/site-packages/imblearn/utils/_validation.py:318: UserWarning: After over-sampling, the number of samples (209) in class 0 will be larger than the number of samples in the majority class (class #0 -> 194)
  warnings.warn(

In [21]:
pd.DataFrame(X_final).to_csv("ionosphere_mod_imb_data.csv",index=False)
pd.DataFrame(y_final).to_csv("ionosphere_mod_imb_label.csv",index=False)

### GENERATING EXT_IMB DATASET(50:50)

In [22]:
X, y = x_train,y_train
print('Original dataset shape %s' % Counter(y))

Original dataset shape Counter({0: 194, 1: 104})

In [23]:
ada = SMOTE(random_state=42)
X_res, y_res = ada.fit_resample(X, y)
print('Resampled dataset shape with 50:50 %s' % Counter(y_res))

Resampled dataset shape with 50:50 Counter({0: 194, 1: 194})

In [24]:
pd.DataFrame(X_res).to_csv("ionosphere_no_imb_data.csv",index=False)
pd.DataFrame(y_res).to_csv("ionosphere_no_imb_label.csv",index=False)