In [1]:
import scipy.io.arff as arff 
import pandas as pd
import numpy as np

In [2]:
data = arff.loadarff("/Users/saitejatangudu/Downloads/mammography.arff")
data = pd.DataFrame(data[0])
data.head()

      attr1     attr2     attr3     attr4     attr5     attr6  class
0  0.230020  5.072578 -0.276061  0.832444 -0.377866  0.480322  b'-1'
1  0.155491 -0.169390  0.670652 -0.859553 -0.377866 -0.945723  b'-1'
2 -0.784415 -0.443654  5.674705 -0.859553 -0.377866 -0.945723  b'-1'
3  0.546088  0.131415 -0.456387 -0.859553 -0.377866 -0.945723  b'-1'
4 -0.102987 -0.394994 -0.140816  0.979703 -0.377866  1.013566  b'-1'

In [3]:
data["class"].value_counts()

b'-1'    10923
b'1'       260
Name: class, dtype: int64

In [4]:
data["class"] = np.where(data["class"]==b'-1',0,1)
data.head()

      attr1     attr2     attr3     attr4     attr5     attr6  class
0  0.230020  5.072578 -0.276061  0.832444 -0.377866  0.480322      0
1  0.155491 -0.169390  0.670652 -0.859553 -0.377866 -0.945723      0
2 -0.784415 -0.443654  5.674705 -0.859553 -0.377866 -0.945723      0
3  0.546088  0.131415 -0.456387 -0.859553 -0.377866 -0.945723      0
4 -0.102987 -0.394994 -0.140816  0.979703 -0.377866  1.013566      0

In [5]:
data.isna().sum()

attr1    0
attr2    0
attr3    0
attr4    0
attr5    0
attr6    0
class    0
dtype: int64

In [6]:
# import module
from sklearn.preprocessing import MinMaxScaler
# scale features
scaler = MinMaxScaler()
model=scaler.fit(data)
Impute_data=model.transform(data)

# print scaled features
data = pd.DataFrame(Impute_data,columns = data.columns)
data.head()

      attr1     attr2     attr3     attr4  attr5     attr6  class
0  0.031414  0.997611  0.010495  0.161902    0.0  0.492632    0.0
1  0.029106  0.054140  0.041979  0.000000    0.0  0.000000    0.0
2  0.000000  0.004777  0.208396  0.000000    0.0  0.000000    0.0
3  0.041201  0.108280  0.004498  0.000000    0.0  0.000000    0.0
4  0.021101  0.013535  0.014993  0.175993    0.0  0.676842    0.0

### DATA RESAMPLING

### GENERATING TEST DATA

In [7]:
X = data.drop(['class'],axis=1)
y = data["class"]

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.15,random_state=42)

In [9]:
print(sum(y_train==1)
,sum(y_train==0)
,sum(y_test==1)
,sum(y_test==0)
     )

221 9284 39 1639

In [10]:
x_test.to_csv("mammography_test_data.csv",index=False)
y_test.to_csv("mammography_test_label.csv",index=False)

### GENERATING EXT_IMB DATASET(05:95)

In [11]:
from collections import Counter
from sklearn.datasets import make_classification
from imblearn.over_sampling import ADASYN 
from imblearn.under_sampling import RandomUnderSampler

In [12]:
X, y = x_train,y_train
print('Original dataset shape %s' % Counter(y))

Original dataset shape Counter({0.0: 9284, 1.0: 221})

In [13]:
no_minority, no_majority = (Counter(y)[1]+Counter(y)[0])*0.05,(Counter(y)[1]+Counter(y)[0])*0.90
rnd = RandomUnderSampler(random_state=42,sampling_strategy={0:round(no_majority),1:Counter(y)[1]})
X_final, y_final = rnd.fit_resample(X, y)
print('Resampled dataset shape After oversampling minority class %s' % Counter(y_final))
ada = ADASYN(random_state=42,sampling_strategy={0:Counter(y_final)[0],1:round(no_minority)})
X_res, y_res = ada.fit_resample(X_final, y_final)
print('Resampled dataset shape with 5:95 ratio%s' % Counter(y_res))

Resampled dataset shape After oversampling minority class Counter({0.0: 8554, 1.0: 221})
Resampled dataset shape with 5:95 ratioCounter({0.0: 8554, 1.0: 439})

In [14]:
X_res.to_csv("mammography_ext_imb_data.csv",index=False)
y_res.to_csv("mammography_ext_imb_label.csv",index=False)

### GENERATING 15285_IMB DATASET(15:85)

In [15]:
X, y = x_train,y_train
print('Original dataset shape %s' % Counter(y))

Original dataset shape Counter({0.0: 9284, 1.0: 221})

In [16]:
no_minority, no_majority = (Counter(y)[1]+Counter(y)[0])*0.15,(Counter(y)[1]+Counter(y)[0])*0.85
rnd = RandomUnderSampler(random_state=42,sampling_strategy={0:round(no_majority),1:Counter(y)[1]})
X_final, y_final = rnd.fit_resample(X, y)
print('Resampled dataset shape After oversampling minority class %s' % Counter(y_final))
ada = ADASYN(random_state=42,sampling_strategy={0:Counter(y_final)[0],1:round(no_minority)})
X_res, y_res = ada.fit_resample(X_final, y_final)
print('Resampled dataset shape with 5:95 ratio%s' % Counter(y_res))

Resampled dataset shape After oversampling minority class Counter({0.0: 8079, 1.0: 221})
Resampled dataset shape with 5:95 ratioCounter({0.0: 8079, 1.0: 1402})

In [17]:
X_res.to_csv("mammography_15285_imb_data.csv",index=False)
y_res.to_csv("mammography_15285_imb_label.csv",index=False)

### GENERATING MOD_IMB DATASET(30:70)

In [18]:
X, y = x_train,y_train
print('Original dataset shape %s' % Counter(y))

Original dataset shape Counter({0.0: 9284, 1.0: 221})

In [19]:
no_minority, no_majority = (Counter(y)[1]+Counter(y)[0])*0.3,(Counter(y)[1]+Counter(y)[0])*0.7
rnd = RandomUnderSampler(random_state=42,sampling_strategy={0:round(no_majority),1:Counter(y)[1]})
X_final, y_final = rnd.fit_resample(X, y)
print('Resampled dataset shape After oversampling minority class %s' % Counter(y_final))
ada = ADASYN(random_state=42,sampling_strategy={0:Counter(y_final)[0],1:round(no_minority)})
X_res, y_res = ada.fit_resample(X_final, y_final)
print('Resampled dataset shape with 5:95 ratio%s' % Counter(y_res))

Resampled dataset shape After oversampling minority class Counter({0.0: 6654, 1.0: 221})
Resampled dataset shape with 5:95 ratioCounter({0.0: 6654, 1.0: 2849})

In [20]:
X_res.to_csv("mammography_mod_imb_data.csv",index=False)
y_res.to_csv("mammography_mod_imb_label.csv",index=False)

### GENERATING NO_IMB DATASET(50:50)

In [21]:
X, y = x_train,y_train
print('Original dataset shape %s' % Counter(y))

Original dataset shape Counter({0.0: 9284, 1.0: 221})

In [22]:
ada = ADASYN(random_state=42)
X_res, y_res = ada.fit_resample(X, y)
print('Resampled dataset shape with 50:50 %s' % Counter(y_res))

Resampled dataset shape with 50:50 Counter({1.0: 9311, 0.0: 9284})

In [23]:
X_res.to_csv("mammography_no_imb_data.csv",index=False)
y_res.to_csv("mammography_no_imb_label.csv",index=False)