## LOADING AND PREPROCESSING

In [1]:
import numpy as np
import pandas as pd
from scipy.io import arff 
data= pd.read_csv("/Users/saitejatangudu/Desktop/DATASETS/ECG0.csv")
data.head()

,id,att1,att2,att3,att4,att5,att6,att7,att8,att9,...,att132,att133,att134,att135,att136,att137,att138,att139,att140,Unnamed: 141
0,1,-0.112522,-2.827204,-3.773897,-4.349751,-4.376041,-3.474986,-2.181408,-1.818286,-1.250522,...,0.792168,0.933541,0.796958,0.578621,0.257740,0.228077,0.123431,0.925286,0.193137,1
1,2,-1.100878,-3.996840,-4.285843,-4.506579,-4.022377,-3.234368,-1.566126,-0.992258,-0.754680,...,0.538356,0.656881,0.787490,0.724046,0.555784,0.476333,0.773820,1.119621,-1.436250,1
2,3,-0.567088,-2.593450,-3.874230,-4.584095,-4.187449,-3.151462,-1.742940,-1.490659,-1.183580,...,0.886073,0.531452,0.311377,-0.021919,-0.713683,-0.532197,0.321097,0.904227,-0.421797,1
3,4,0.490473,-1.914407,-3.616364,-4.318823,-4.268016,-3.881110,-2.993280,-1.671131,-1.333884,...,0.350816,0.499111,0.600345,0.842069,0.952074,0.990133,1.086798,1.403011,-0.383564,1
4,5,0.800232,-0.874252,-2.384761,-3.973292,-4.338224,-3.802422,-2.534510,-1.783423,-1.594450,...,1.148884,0.958434,1.059025,1.371682,1.277392,0.960304,0.971020,1.614392,1.421456,1

In [2]:
data1= pd.read_csv("/Users/saitejatangudu/Desktop/DATASETS/ECG1.csv")
data1.head()

,id,att1,att2,att3,att4,att5,att6,att7,att8,att9,...,att132,att133,att134,att135,att136,att137,att138,att139,att140,Unnamed: 141
0,1,3.690844,0.711414,-2.114091,-4.141007,-4.574472,-3.431909,-1.950791,-1.107067,-0.632322,...,0.022847,0.188937,0.480932,0.629250,0.577291,0.665527,1.035997,1.492287,-1.905073,1
1,2,-1.348132,-3.996038,-4.226750,-4.251187,-3.477953,-2.228422,-1.808488,-1.534242,-0.779861,...,1.570938,1.591394,1.549193,1.193077,0.515134,0.126274,0.267532,1.071148,-1.164009,1
2,3,1.024295,-0.590314,-1.916949,-2.806989,-3.527905,-3.638675,-2.779767,-2.019031,-1.980754,...,0.443502,0.827582,1.237007,1.235121,1.738103,1.800767,1.816301,1.473963,1.389767,1
3,4,0.545657,-1.014383,-2.316698,-3.634040,-4.196857,-3.758093,-3.194444,-2.221764,-1.588554,...,0.777530,1.119240,0.902984,0.554098,0.497053,0.418116,0.703108,1.064602,-0.044853,1
4,5,0.661133,-1.552471,-3.124641,-4.313351,-4.017042,-3.005993,-1.832411,-1.503886,-1.071705,...,1.280823,1.494315,1.618764,1.447449,1.238577,1.749692,1.986803,1.422756,-0.357784,1

In [3]:
data=pd.concat([data,data1],ignore_index=True).drop(['id'],axis=1)

In [4]:
data.head()

,att1,att2,att3,att4,att5,att6,att7,att8,att9,att10,...,att132,att133,att134,att135,att136,att137,att138,att139,att140,Unnamed: 141
0,-0.112522,-2.827204,-3.773897,-4.349751,-4.376041,-3.474986,-2.181408,-1.818286,-1.250522,-0.477492,...,0.792168,0.933541,0.796958,0.578621,0.257740,0.228077,0.123431,0.925286,0.193137,1
1,-1.100878,-3.996840,-4.285843,-4.506579,-4.022377,-3.234368,-1.566126,-0.992258,-0.754680,0.042321,...,0.538356,0.656881,0.787490,0.724046,0.555784,0.476333,0.773820,1.119621,-1.436250,1
2,-0.567088,-2.593450,-3.874230,-4.584095,-4.187449,-3.151462,-1.742940,-1.490659,-1.183580,-0.394229,...,0.886073,0.531452,0.311377,-0.021919,-0.713683,-0.532197,0.321097,0.904227,-0.421797,1
3,0.490473,-1.914407,-3.616364,-4.318823,-4.268016,-3.881110,-2.993280,-1.671131,-1.333884,-0.965629,...,0.350816,0.499111,0.600345,0.842069,0.952074,0.990133,1.086798,1.403011,-0.383564,1
4,0.800232,-0.874252,-2.384761,-3.973292,-4.338224,-3.802422,-2.534510,-1.783423,-1.594450,-0.753199,...,1.148884,0.958434,1.059025,1.371682,1.277392,0.960304,0.971020,1.614392,1.421456,1

In [5]:
data.shape

(5000, 141)

In [6]:
names = list(map(str,range(140)))+["Target"]
data.columns=names
sum(data.isna().sum()==0)

141

In [7]:
from collections import Counter
Counter(data["Target"])

Counter({1: 2919, 2: 1767, 3: 96, 4: 194, 5: 24})

In [8]:
data['Target'] = np.where(data['Target']==1,0,1)

In [9]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,131,132,133,134,135,136,137,138,139,Target
0,-0.112522,-2.827204,-3.773897,-4.349751,-4.376041,-3.474986,-2.181408,-1.818286,-1.250522,-0.477492,...,0.792168,0.933541,0.796958,0.578621,0.257740,0.228077,0.123431,0.925286,0.193137,0
1,-1.100878,-3.996840,-4.285843,-4.506579,-4.022377,-3.234368,-1.566126,-0.992258,-0.754680,0.042321,...,0.538356,0.656881,0.787490,0.724046,0.555784,0.476333,0.773820,1.119621,-1.436250,0
2,-0.567088,-2.593450,-3.874230,-4.584095,-4.187449,-3.151462,-1.742940,-1.490659,-1.183580,-0.394229,...,0.886073,0.531452,0.311377,-0.021919,-0.713683,-0.532197,0.321097,0.904227,-0.421797,0
3,0.490473,-1.914407,-3.616364,-4.318823,-4.268016,-3.881110,-2.993280,-1.671131,-1.333884,-0.965629,...,0.350816,0.499111,0.600345,0.842069,0.952074,0.990133,1.086798,1.403011,-0.383564,0
4,0.800232,-0.874252,-2.384761,-3.973292,-4.338224,-3.802422,-2.534510,-1.783423,-1.594450,-0.753199,...,1.148884,0.958434,1.059025,1.371682,1.277392,0.960304,0.971020,1.614392,1.421456,0

In [10]:
# import module
from sklearn.preprocessing import MinMaxScaler
# scale features
scaler = MinMaxScaler()
model=scaler.fit(data)
data=model.transform(data)

# print scaled features
#print(Impute_data)
data = pd.DataFrame(data,columns = names)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,131,132,133,134,135,136,137,138,139,Target
0,0.565751,0.403325,0.174330,0.139541,0.132887,0.267145,0.391046,0.407650,0.490147,0.606675,...,0.691213,0.740816,0.715777,0.685498,0.636101,0.614525,0.619195,0.660354,0.465778,0.0
1,0.481247,0.292669,0.108637,0.117948,0.179900,0.301794,0.483556,0.542721,0.576304,0.692721,...,0.655837,0.703491,0.714505,0.704886,0.671159,0.644389,0.690859,0.679208,0.345032,0.0
2,0.526886,0.425440,0.161455,0.107276,0.157957,0.313732,0.456971,0.461223,0.501778,0.620457,...,0.704301,0.686569,0.650536,0.605436,0.521837,0.523069,0.640975,0.658310,0.420208,0.0
3,0.617307,0.489682,0.194544,0.143799,0.147247,0.208664,0.268977,0.431713,0.475662,0.525872,...,0.629697,0.682206,0.689361,0.720620,0.717773,0.706196,0.725345,0.706704,0.423042,0.0
4,0.643792,0.588088,0.352583,0.191373,0.137914,0.219995,0.337955,0.413351,0.430386,0.561036,...,0.740932,0.744174,0.750988,0.791226,0.756039,0.702608,0.712587,0.727213,0.556803,0.0

## DATA RESAMPLING

### GENERATING TEST DATA

In [11]:
X = data.drop(['Target'],axis=1)
y = data.Target

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.15,random_state=42)

In [13]:
print(sum(y_train==1)
,sum(y_train==0)
,sum(y_test==1)
,sum(y_test==0)
     )

1775 2475 306 444

In [14]:
(sum(y_train==1)+sum(y_test==1))/(sum(y_train==0)+sum(y_test==0))

0.7129153819801302

In [16]:
x_test.to_csv("ecg_test_data.csv",index=False)
y_test.to_csv("ecg_test_label.csv",index=False)

In [15]:
x_train.to_csv("ecg_train_data.csv",index=False)
y_train.to_csv("ecg_train_label.csv",index=False)

### GENERATING EXT_IMB DATASET(05:95)

In [17]:
from collections import Counter
from sklearn.datasets import make_classification
from imblearn.over_sampling import ADASYN 
from imblearn.under_sampling import RandomUnderSampler

In [18]:
X, y = x_train,y_train
print('Original dataset shape %s' % Counter(y))

Original dataset shape Counter({0.0: 2475, 1.0: 1775})

In [19]:
no_minority, no_majority = (Counter(y)[1]+Counter(y)[0])*0.05,(Counter(y)[1]+Counter(y)[0])*0.95
ada = ADASYN(random_state=42,sampling_strategy={1:Counter(y)[1],0:round(no_majority)})
X_res, y_res = ada.fit_resample(X, y)
print('Resampled dataset shape After oversampling majority class %s' % Counter(y_res))

rnd = RandomUnderSampler(random_state=42,sampling_strategy={1:round(no_minority),0:Counter(y_res)[0]})
X_final, y_final = rnd.fit_resample(X_res, y_res)
print('Resampled dataset shape with 05:95 ratio%s' % Counter(y_final))

/Applications/Utilities/anaconda3/lib/python3.8/site-packages/imblearn/utils/_validation.py:318: UserWarning: After over-sampling, the number of samples (4038) in class 0 will be larger than the number of samples in the majority class (class #0.0 -> 2475)
  warnings.warn(

Resampled dataset shape After oversampling majority class Counter({0.0: 4033, 1.0: 1775})
Resampled dataset shape with 05:95 ratioCounter({0.0: 4033, 1.0: 212})

In [20]:
X_final.to_csv("ecg_ext_imb_data.csv",index=False)
y_final.to_csv("ecg_ext_imb_label.csv",index=False)

### GENERATING 15285_IMB DATASET(15:85)

In [21]:
X, y = x_train,y_train
print('Original dataset shape %s' % Counter(y))

Original dataset shape Counter({0.0: 2475, 1.0: 1775})

In [22]:
no_minority, no_majority = (Counter(y)[1]+Counter(y)[0])*0.15,(Counter(y)[1]+Counter(y)[0])*0.85
ada = ADASYN(random_state=42,sampling_strategy={1:Counter(y)[1],0:round(no_majority)})
X_res, y_res = ada.fit_resample(X, y)
print('Resampled dataset shape After oversampling majority class %s' % Counter(y_res))

rnd = RandomUnderSampler(random_state=42,sampling_strategy={1:round(no_minority),0:Counter(y_res)[0]})
X_final, y_final = rnd.fit_resample(X_res, y_res)
print('Resampled dataset shape with 05:95 ratio%s' % Counter(y_final))

Resampled dataset shape After oversampling majority class Counter({0.0: 3606, 1.0: 1775})
Resampled dataset shape with 05:95 ratioCounter({0.0: 3606, 1.0: 638})

/Applications/Utilities/anaconda3/lib/python3.8/site-packages/imblearn/utils/_validation.py:318: UserWarning: After over-sampling, the number of samples (3612) in class 0 will be larger than the number of samples in the majority class (class #0.0 -> 2475)
  warnings.warn(

In [23]:
X_final.to_csv("ecg_15285_imb_data.csv",index=False)
y_final.to_csv("ecg_15285_imb_label.csv",index=False)

### GENERATING MOD_IMB DATASET(30:70)

In [24]:
X, y = x_train,y_train
print('Original dataset shape %s' % Counter(y))

Original dataset shape Counter({0.0: 2475, 1.0: 1775})

In [25]:
no_minority, no_majority = (Counter(y)[1]+Counter(y)[0])*0.3,(Counter(y)[1]+Counter(y)[0])*0.7
ada = ADASYN(random_state=42,sampling_strategy={1:Counter(y)[1],0:round(no_majority)})
X_res, y_res = ada.fit_resample(X, y)
print('Resampled dataset shape After oversampling majority class %s' % Counter(y_res))

rnd = RandomUnderSampler(random_state=42,sampling_strategy={1:round(no_minority),0:Counter(y_res)[0]})
X_final, y_final = rnd.fit_resample(X_res, y_res)
print('Resampled dataset shape with 05:95 ratio%s' % Counter(y_final))

/Applications/Utilities/anaconda3/lib/python3.8/site-packages/imblearn/utils/_validation.py:318: UserWarning: After over-sampling, the number of samples (2975) in class 0 will be larger than the number of samples in the majority class (class #0.0 -> 2475)
  warnings.warn(

Resampled dataset shape After oversampling majority class Counter({0.0: 2983, 1.0: 1775})
Resampled dataset shape with 05:95 ratioCounter({0.0: 2983, 1.0: 1275})

In [26]:
X_final.to_csv("ecg_mod_imb_data.csv",index=False)
y_final.to_csv("ecg_mod_imb_label.csv",index=False)

### GENERATING NO_IMB DATASET(50:50)

In [27]:
X, y = x_train,y_train
print('Original dataset shape %s' % Counter(y))

Original dataset shape Counter({0.0: 2475, 1.0: 1775})

In [28]:
ada = ADASYN(random_state=42)
X_res, y_res = ada.fit_resample(X, y)
print('Resampled dataset shape with 50:50 %s' % Counter(y_res))

Resampled dataset shape with 50:50 Counter({1.0: 2498, 0.0: 2475})

In [29]:
X_res.to_csv("ecg_no_imb_data.csv",index=False)
y_res.to_csv("ecg_no_imb_label.csv",index=False)